@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@700&family=Oswald:wght@500&family=PT+Serif&display=swap');  
*{
    margin-top: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(rgba(43, 55, 167, 0.75),rgba(2, 8, 59, 0.75)),url(assets/historybg.jpg);
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
.logo img{
   width: 80px;
   height: 80px;
   float: left;
   margin-left: 40px;
}

.title {
    color: rgb(251, 255, 0);
    font-family: 'Oswald', sans-serif;
    font-weight: 450px;
    font-size: 25px;
    float: left;
    margin-top: 24px;
    margin-left: 20px; 
}


.dropbtn {
  color: white;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  margin-left: 15px;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: navy;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  font-size: 20px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
border-radius: 5px;
transition: 0.3s ease;
background-color: gold;}

.dropdown:hover .drop-content {
display: block;}


.navbar_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgb(9, 49, 112);
    border-bottom: 1px solid gold;
    color: #fff;
    position: fixed;
    z-index: 8;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
.nav-links{
    padding-right: 10px;
    padding-top: 10px;
}
.nav-links a {
    font-weight: 450;
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 1px;
    font-size: 18px;
}
.menu li:hover {
    background-color: #d9dd20;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

input[type="checkbox"] {
    display: none;
}
.bar_icon {
    display: none;
    font-size: 24px;
    user-select: none;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background: rgba(38, 57, 88, 0.89);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 5;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }
    
    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }
    .bar_icon {
        display: block;
    }
}

.home-sec {
    padding-top: 10px !important;
    background: linear-gradient(rgba(43, 55, 167, 0.75),rgba(2, 8, 59, 0.75)), url("assets/bg.jpg") no-repeat center center;
    padding: 0;
    background-size: cover;
    background-size: cover;
    color: #fff;
    height: 650pX;
    background-attachment: fixed;
    font-family: 'Noto Sans Lepcha'!important;
}

.home-sec .overlay {
    min-height: 900px;  
   
}

.home-sec .overlay .container .row .col-sm-12 {
    text-align: left;
    z-index: 1;
    padding-top: 100px;

}

.home-sec h1 {
    color: #fff;
    font-weight: 650;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 70px;
    border-bottom: 4px solid rgb(249, 234, 23);
}

.home-sec p {
  margin-left: 20px;
  font-size: 18px;
}
.home-sec button {
    border: 0px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    background: #428bca;
    margin-right: 4px;
}

.home-sec .btn_green {
    border: 0px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    background: green;
}

.container-fluid h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 10px 15px 10px;
    color: #1d178e;
}

.container .col-sm-12 .font_size {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 65px;
    color: #000;
    border-bottom: 4px solid green;
}
.row_width{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p_width{
    width: 50%;
}

.rain {
    background: linear-gradient(to right,rgb(47, 125, 242),rgb(246, 189, 46));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 460px;

}

.pres {
    width: 270px;
    height: 270px;
}

.img1_border_double {
    height: 170px;
    width: 165px;
    border: 5px double rgb(223, 191, 12);
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}


.col-sm-4 p {
    color: white;
    font-size: 15px;
}

.col-sm-4:hover img {
      transform: scale(1.3);
      transition-delay: 0.3s;
      transition-duration: 0.6s;
}

.Lugo1 {
    border-radius: 50px;
    width: 90px;
    height: 90px;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

.Lugo2 {
    border-radius: 50px;
    width: 90px;
    height: 90px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.Lugo3 {
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
}

.diamond { 
    border: 1px solid  gold;
    border-radius: 10px;
    background-color: navy;
    box-shadow: 3px 3px 7px  gold;
    
}
.diamond h3 {
    color: white;
    padding-top: 10px ;
}

.bon {
    width: 350px;
    margin-top: 30px;
    border: 1px solid rgb(2, 2, 102);
    border-radius: 50px;
}

.new_one {
    margin-top: 20px;
    font-size: 25;
    text-align: center;
    color: black;
    border: 2px solid transparent;
    border-radius: 50px;
    box-shadow: 1px 1px 3px 3px gold;
}

.head {
    width: 220px;
    height: 310px;
}

.p_width #head {
    cursor: pointer;
}

.col-sm-4 img{
    cursor: pointer;
}

.p_width:hover #head {
    transform: scale(1.3);
    transition-delay: 0.3s;
    transition-duration: 0.6s;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.our-faculty {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url("assets/background.jpg") no-repeat center center;
    padding: 0;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    font-family: 'Noto Sans Lepcha'!important;
}

.our-faculty .overlay {
    background: rgb(43, 55, 167, 0.75);
    min-height: 900px;
}

.our-faculty .font_size {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 65px;
    color: #fff;
    border-bottom: 4px solid green;
}

.h3 {
    margin-top: 5px;
    font-size: 22px;
}

.hd{
    margin-top: 5px;
    font-size: 25px;
}
.hadding_pt{
    margin-right: 30px ;
    padding: 30px 0px 20px 0px;
    font-family: 'Noto Sans Lepcha'!important;
}
.img_border_double {
    border: 10px double rgb(223, 191, 12);
    border-radius: 100px;
}

.hr_10 {
    border: 2px solid rgb(240, 206, 9);
    border-radius: 5px;
    width: 260px;
}

.hr_5{ 
    margin-top: 7px;
    width: 180px;
    border: 2px solid gold;
    border-radius: 5px;
}
.hadding_bt{
    border: rgb(242, 206, 3);
    border-bottom: 3px solid rgb(242, 206, 3);
}

.mom {
    position: center;
}



.bg1 {
    border: 2px solid black; 
    background: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px blue;
    padding: 8px;
    color: white;
    font-size: 20px;
}
.bg2 {
    border: 2px solid black; 
    background: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px blue;
    padding: 8px;
    color: white;
    font-size: 20px;
    margin-top: 18px;
}

.bg_blue {
    border: 1px solid #bce8f1;
    background: #d9edf7;
    border-radius: 5px;
    padding: 8px;
    color: #31708f;
    margin-top: 20px;
}


.row {
    display: block;
    align-items: center;
}

.thout {
    border: none !important;
}

.card-body {
    border: 3px solid transparent;
    border-radius: 10px;
    align-items: center;
}

.card {
     border: 1px solid white;
}


.zoom {
    display: inline-block;
}
.zoom:hover .fa  {
    transform: scale(1.3);
    transition-duration: 0.8s;
    animation: backwards;
}

.contact-us {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url("assets/background.jpg") no-repeat center center;
    padding: 0;
    background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

#fname {
    color: White;
}

::placeholder {
    color: white;
}

.contact-us .overlay {
    background: rgba(35, 61, 100, 0.64);
    min-height: 700px;
    font-family: 'Noto Sans Lepcha'!important;
}
.input_size {
    background: none;
    width: 60%;
    border: 1px solid #fff;
    color: white;
    padding: 5px;
    margin-top: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.input_btn {
    background: blue;
    color: navy;
    margin-top: 20px;
    border-radius: 5px;
    letter-spacing: 4px;
    width: 60%;
    cursor: pointer;
    border: 1px solid #08bef4;
    height: 45px;
    background: #5bc0de;
}
.fa_social{
    border: 1px solid #1d178e;
    color: #2f9484;
    box-shadow: 1px 1px 3px 2px gold;
    background-color: #1d178e;
    width: 50px;
    height: 50px;
    border-radius: 41px;
    padding-top: 10px;
    margin: 5px;
    font-size: 30px !important;
    cursor: pointer;
}
.footer{
    padding: 5px 20px;
    background-color: #1c4798;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Sans Lepcha'!important;
}
.h1 {
 text-align: center;
}


@media (max-width: 768px){
    .col-sm-4{
        margin-top: 30px;
    }

    .hadding_pt{
         padding: 75px 0px 20px 0px;
        font-size: 27px;
    }


.p_width{
    width: 100%;
}
.input_size{
    width: 100%;
}
.hadding_h2{
        font-size: 15px !important;
}
.hadding_h1{
        font-size: 27px !important;

}
}